include ./form-group.pug 

mfe-hello-world
    
    h1.display-2.text-center Hello World
    
    div.mfe-hello-world__preview
        canvas( width="320" height="350" )
    
    div.swiper( html-static )
        
        div.swiper-wrapper
            
            section.swiper-slide
                +form-group({ label: 'Username', name:'username', validation: 'required' })
                    section.d-flex.justify-content-between.my-3
                        button.btn.btn-success.w-100(type="submit")
                            | Next
            
            section.swiper-slide
                +form-group({ label: 'Email', name:'email', validation: 'required email' })
                    section.d-flex.justify-content-between.my-3
                        button.btn.btn-warning.w-100(type="button" data-prev="data-prev")
                            | Go Back
                        button.btn.btn-success.w-100(type="submit")
                            | Next
            
            section.swiper-slide
                +form-group({ label: 'Password', name:'password', type: 'password', validation: 'required' }) 
                    input(type="hidden", name="finish", value="true")
                    section.d-flex.justify-content-between.my-3
                        button.btn.btn-warning.w-100(type="button" data-prev="data-prev")
                            | Go Back
                        button.btn.btn-success.w-100(type="submit")
                            | Enviar
    
    div(html-if="success")
        pre ${JSON.stringify(formData, null, 4)}