
app-swiper 
	div.swiper( html-static )
		div.swiper-wrapper
			div.swiper-slide Slide 1
			div.swiper-slide Slide 2
			div.swiper-slide Slide 3
			div.swiper-slide Slide 4
			div.swiper-slide Slide 5
		div.d-flex.justify-content-between
			button.btn.btn-primary( data-prev ) Previous
			button.btn.btn-primary( data-next ) Próximo