
app-swiper 
	div.container
		button.btn.btn-prev( data-prev ) ‹
		div.swiper( html-static )
			div.swiper-wrapper
				div.swiper-slide 
					img( src="https://picsum.photos/800/300?random=1" )
				div.swiper-slide 
					img( src="https://picsum.photos/800/300?random=2" )
				div.swiper-slide  
					img( src="https://picsum.photos/800/300?random=3" )
				div.swiper-slide 
					img( src="https://picsum.photos/800/300?random=4" )
				div.swiper-slide 
					img( src="https://picsum.photos/800/300?random=5" )
				div.swiper-slide 
					img( src="https://picsum.photos/800/300?random=6" )
		button.btn.btn-next( data-next ) ›